@{
    ViewBag.Title = "My Podcasts";
}
<div class="text-center">
    <h1 class="display-4">Visit Our Podcast Website Below!</h1>
    <br /><br />
    <a class="btn-sm btn-info" href="https://baconsale.com/">BaconSale Podcast</a>
</div>

